extends layouts/main

block menu
  +menu('about')

block content
  h2 About
  p Iusto laboriosam quibusdam quae aliquam. Delectus numquam corporis, officiis est temporibus iure quibusdam! Vitae explicabo ad cum eaque quis culpa deleniti architecto ratione ipsum, exercitationem pariatur et maxime minus illo quisquam deserunt.