extends layouts/main

block helpers
  - pageName = 'contacts'

block content
  h2 Contacts
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, pariatur sit officia commodi nisi reprehenderit temporibus cupiditate suscipit doloribus vel optio illum quo non eveniet accusamus voluptates.