header.header.-wrapper
  picture._banner
    source(media="(min-width: 640px)", srcset="img/large.webp", type="image/webp")
    source(media="(min-width: 640px)", srcset="img/large.jpg")
    source(srcset="img/medium.webp", type="image/webp")
    img._img(src="img/medium.jpg", alt="banner")