header.header.-wrapper
  picture._banner(class= pageName !== 'home' ? 'header__banner--small' : '')
    source(media="(min-width: 740px)", srcset="img/large.webp", type="image/webp")
    source(media="(min-width: 740px)", srcset="img/large.jpg")
    source(srcset="img/medium.webp", type="image/webp")
    img._img(src="img/medium.jpg", alt="banner")