aside.menu
  nav._inner.-wrapper
    a(href="/")._link
      svg.home._home
        use(xlink:href="svg/symbols.svg#home")
    button._button
    a._item(href="/") Home
    a._item.-active(href="/about.html") About
    a._item(href="#") Page3
    a._item(href="#") Page4
    a._item(href="#") Page5
    a._item(href="#") Page6
    a._item(href="#") Page7
    a._item(href="#") Page8